<body>       
       <h1> <img src="assets/tick.gif" width="10%">Your Order has been placed successfully.<br>Thank you for purchasing from Green Paradise.<br>
        Your order will be delivered to you within 3-4 business days.</h1>
       <h3>Don't worry about the plants. We will deliver them safely.<br> 
            <em style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Gift a plant today and share some soulful vibes with your loved ones.</em>
       </h3>    
</body>